.header {
	width: 100%;
	position: relative;
	z-index: 1;
	border-bottom: 1px solid #cccccc4e;
	margin-bottom: 2em;
}
.header nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.header nav figure {
	width: 320px;
}
.header nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	list-style: none;
}
.header nav ul a {
	text-decoration: none;
	color: black;
	padding: 10px;
	border-radius: 10px;
}
.header nav ul a:hover {
	background-color: #f2f2f250;
	color: #202020;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


@media screen and (max-width: 920px) {
	.header nav ul {
		display: none;
	}
}