.hero-banner {
	width: 100%;
	position: relative;
}

.hero-banner figure, .hero-banner picture{
	cursor: pointer;
	max-width: 1520px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	border: 1px solid #ececec;
}

.hero-banner figure:hover {
	transform: scale(1.01);
}

.hero-banner img {
	width: 100%;
	border-radius: inherit;
}
