* {
	box-sizing: border-box;
	transition: 150ms linear;
}
html, body {
	padding: 0;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
	width: 80%;
	margin: 0 auto;
}
@media screen and (max-width: 980px) {
	section {
		width: 100%;
	}
}